DJANGO_SECRET_KEY=django-insecure-v&#k=%kb&o37$&l#c1j3prp)ihq3*ki-&a)35b9+ur%1hk24wv$08
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

DATABASE_URL=sqlite:///db.sqlite3

CLOUDINARY_CLOUD_NAME=dgvy0orf7
CLOUDINARY_API_KEY=822438274731574
CLOUDINARY_API_SECRET=hUFKl0ANxmCFoC0uB6-2BYeFKCc

ALLOWED_EMAIL_DOMAIN=evsu.edu.ph
SKIP_EMAIL_VERIFICATION=True

DEFAULT_FROM_EMAIL=noreply@scholarvault.app

GRADING_SUPERUSER_USERNAME=grader
GRADING_SUPERUSER_EMAIL=grader@evsu.edu.ph
GRADING_SUPERUSER_PASSWORD=SetAStrongPasswordForGrading!
